
{% load static %}
{%include 'private/header.html' %}
<h1> Nomina de estudiantes  </h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Nombre de usuarioo</th>
            <th>Correo institucional</th>
            <a type="button" class="btn btn-primary" style="border-radius: 100px">crear usuario</a>
            {%if messages %}
            {% for message in messages %}
            <div class="alert alert-succes"> 
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <span class="badge badge-primary px-3 py-2"></span>
              Total de usuarios: {{ usuarios|length }}
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                   
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%include 'private/footer.html'%}