# Entorno virtual
venv/
__pycache__/

# macOS basura
.DS_Store

# --- ESTA ES LA PARTE QUE BUSCAS ---
# Ignora tus configuraciones locales y claves de Postgres
config/settings.py
db.sqlite3
config/__pycache__/settings.cpython-313.pyc
config/__pycache__/urls.cpython-313.pyc
config/__pycache__/settings.cpython-313.pyc
*.pyc
/venv
/config/__pycache__
/venv
.DS_Store
.DS_Store
