{% load static %}
{% include 'header.html' %}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin-top: 0; background-image: url('{% static 'public/images/slider_background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <h3 style="text-align: center; margin-bottom: 25px; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.6);" class="fw-bold">
        <i class="bi bi-lock-fill"></i> INGRESO AL SISTEMA
    </h3>
  <form action="{% url 'login' %}" method="post" style="width: 500px; background-color: rgba(250, 252, 154, 0.9); padding: 30px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        {% csrf_token %}
        <label for="">Usuario:</label>
        <input type="text" placeholder="Ingrese usuario" name="username" id="username" required class="form-control alert alert danger">
        <input type="password" placeholder="Ingrese contraseña" name="password" id="password" required class="form-control alert alert danger">
        <button type="submit" class="btn btn-success form-control alert">Iniciar Sesión</button>
    </form>
</div>

{% if mensaje %}
<script>
    alert("{{ mensaje }}");
</script>
{% endif %}

{% include 'footer.html' %}