{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Curso - Nuevos</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'public/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'public/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'public/styles/news_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'public/styles/news_responsive.css' %}">
</head>
<body>

<div class="super_container">

	

		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>
	
	<div class="menu_container menu_mm">

		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="{% url 'home' %}">Casa</a></li>
					<li class="menu_item menu_mm"><a href="#">Sobre Nosotros</a></li>
					<li class="menu_item menu_mm"><a href="{% url 'courses' %}">Cursos</a></li>
					<li class="menu_item menu_mm"><a href="{% url 'elements' %}">Elementos</a></li>
					<li class="menu_item menu_mm"><a href="#">Nuevo</a></li>
					<li class="menu_item menu_mm"><a href="{% url 'contact' %}">Contactanos</a></li>
				</ul>

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></div>
			</div>

		</div>

	</div>
	
	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'public/images/news_background.jpg' %})"></div>
		</div>
		<div class="home_content">
			<h1>Noticias Vlogs</h1>
		</div>
	</div>

	<div class="news">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-8">
					
					<div class="news_posts">
						<div class="news_post">
							<div class="news_post_image">
								<img src="{% static 'public/images/news_1.jpg' %}" alt="">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div>18</div>
										<div>dec</div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="#">¿Porque necesitas una calificación?</a>
									</div>
									<div class="news_post_meta">
    <span class="news_post_author"><a href="#">Unidad Educativa</a></span>
    <span>|</span>
    <span class="news_post_comments"><a href="#">Noticias</a></span>
</div>
								</div>
							</div>
							<div class="news_post_text">
                               <p>
                              La Unidad Educativa brinda una formación integral basada en valores, excelencia académica y desarrollo humano. Nuestro compromiso es preparar estudiantes responsables, creativos y capaces de enfrentar los retos del futuro mediante una educación de calidad.
                                    </p>
                            </div>
							<div class="news_post_button text-center trans_200">
								<a href="#">Leer más</a>
							</div>
						</div>

						<div class="news_post">
							<div class="news_post_image">
								<img src="{% static 'public/images/news_2.jpg' %}" alt="">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div>18</div>
										<div>dic</div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="#">¿Nuestos nuevos cursos para tí?</a>
									</div>
								<div class="news_post_meta">
    <span class="news_post_author"><a href="#">Administración</a></span>
    <span>|</span>
    <span class="news_post_comments"><a href="#">Eventos</a></span>
</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>La Unidad Educativa Patria es una excelente opción de estudio,con una calidad académica de primera, junto a profesionales exelentemente capacitados.</p>
							</div>
							<div class="news_post_button text-center trans_200">
								<a href="#">Leer más</a>
							</div>
						</div>

						<div class="news_post">
							<div class="news_post_image">
								<img src="{% static 'public/images/news_3.jpg' %}" alt="">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div>18</div>
										<div>dic</div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="#">¿Por qué elegir el COMIL?</a>
									</div>
									<div class="news_post_meta">
										<span class="news_post_author"><a href="#">Por: Administración COMIL</a></span>
										<span>|</span>
										<span class="news_post_comments"><a href="#">3 Comentarios</a></span>
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>Impartir a la niñez y a la juventud, una educación integral e inclusiva que aporte a la formación de bachilleres cuyo perfil de salida se enfoque en la calidad y la gestión como ciudadanos universales, capaces de indagar, pensar, reflexionar y comunicarse en una forma abierta y equilibrada, respetando diferentes puntos de vista, audaces y solidarios, que contribuyan al desarrollo de la sociedad, enmarcados en el honor, la disciplina y la lealtad..</p>
							</div>
							<div class="news_post_button text-center trans_200">
								<a href="#">Leer más</a>
							</div>
						</div>

					</div>

					<div class="news_page_nav">
						<ul>
							<li class="active text-center trans_200"><a href="#">01</a></li>
							<li class="text-center trans_200"><a href="#">02</a></li>
							<li class="text-center trans_200"><a href="#">03</a></li>
						</ul>
					</div>

				</div>

				<div class="col-lg-4">
					<div class="sidebar">

						<div class="sidebar_section">
							<div class="sidebar_section_title">
						<h3>Enlaces Rápidos</h3>
</div>
<ul class="sidebar_list">
    <li class="sidebar_list_item"><a href="#">Oferta Académica</a></li>
    <li class="sidebar_list_item"><a href="#">Admisiones</a></li>
    <li class="sidebar_list_item"><a href="#">Calendario Escolar</a></li>
    <li class="sidebar_list_item"><a href="#">Eventos Institucionales</a></li>
    <li class="sidebar_list_item"><a href="#">Contacto</a></li>
</ul>

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Ultimos posts</h3>
							</div>

							<div class="latest_posts">
								
								<div class="latest_post">
									<div class="latest_post_image">
										<img src="{% static 'public/images/latest_1.jpg' %}" alt="">
									</div>
									<div class="latest_post_title"><a href="#">Inicio de Clases 2026</a></div>
<div class="latest_post_meta">
    <span class="latest_post_author"><a href="#">Unidad Educativa</a></span>
    <span>|</span>
    <span class="latest_post_comments"><a href="#">Noticias</a></span>
</div>

								<div class="latest_post">
									<div class="latest_post_image">
										<img src="{% static 'public/images/latest_2.jpg' %}" alt="">
									</div>
									<div class="latest_post_title"><a href="#">Por que necesitas una calificación?</a></div>
									<div class="latest_post_meta">
										<span class="latest_post_author"><a href="#">Por Christian Smith</a></span>
										<span>|</span>
										<span class="latest_post_comments"><a href="#">3 Comentarios</a></span>
									</div>
								</div>

								<div class="latest_post">
									<div class="latest_post_image">
										<img src="{% static 'public/images/latest_3.jpg' %}" alt="">
									</div>
									<div class="latest_post_title"><a href="#">Por que necesitas una calificación?</a></div>
									<div class="latest_post_meta">
										<span class="latest_post_author"><a href="#">By Christian Smith</a></span>
										<span>|</span>
										<span class="latest_post_comments"><a href="#">3 Comments</a></span>
									</div>
								</div>

							</div>
						</div>

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Tags</h3>
							</div>
							<div class="tags d-flex flex-row flex-wrap">
								<div class="tag"><a href="#">Course</a></div>
								<div class="tag"><a href="#">Design</a></div>
								<div class="tag"><a href="#">FAQ</a></div>
								<div class="tag"><a href="#">Teachers</a></div>
								<div class="tag"><a href="#">School</a></div>
								<div class="tag"><a href="#">Graduate</a></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	

<script src="{% static 'public/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'public/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'public/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'public/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'public/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'public/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'public/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'public/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'public/plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'public/plugins/easing/easing.js' %}"></script>
<script src="{% static 'public/js/news_custom.js' %}"></script>

</body>
</html>
{% include 'footer.html' %}