{% load static %}
{% include "private/header2.html" %}

<div class="container mt-4">
    <h2>Nómina del Personal Docente</h2>
    <br>
    <a href="{% url 'crear_profesor' %}" class="btn btn-dark">Registrar Docente</a>
    <br>
</div>

    <table class= "table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
    
              
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.id}}</td>
                <td>{{ profesor.nombre_profesor}}</td>
                <td>{{ profesor.sueldo_profesor}}</td>
                <td>{{ profesor.curso_profesor}}</td>
                 <td>
                    <a href="{% url 'editar_profesor' profesor.id %}" class="btn btn-outline-success">Editar</a>
                    <a href="{% url 'eliminar_profesor' profesor.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="alert alert-danger">No hay profesores disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% include "private/footer.html" %}