{% load static %}
{% include "private/header2.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="container mt-4">
    <h2>Crear Materia</h2>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="">Nombre de la Materia:</label>
            <input type="text" name="nombreMateria" class="form-control" id="nombreMateria" required>
        </div>
        <div class="mb-3">
            <label for="">Precio de la Materia:</label>
            <input type="number" name="precioMateria" class="form-control" id="precioMateria" required>
        </div>
        <div class="mb-3">
            <label for="">Créditos de la Materia:</label>
            <input type="number" class="form-control" id="creditosMateria" name="creditosMateria" required>
        </div>
        <div class="mb-3">
            <label for="">Número de Estudiantes:</label>
            <input type="number" class="form-control" id="num_estudiantesMateria" name="num_estudiantesMateria" required>
        </div>
       <button type="submit" class="btn btn-success">
            <i class="bi bi-check-circle me-1"></i> Crear Materia
        </button>
        <a href="{% url 'listar_materias' %}" class="btn btn-outline-danger">
            <i class="bi bi-arrow-left-circle me-1"></i> Cancelar
        </a>
    </form>
</div>

{% include "private/footer.html" %}