{% load static %}
{% include "private/header2.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="container mt-4">
    <h3 class="text-primary mb-3"><i class="bi bi-pencil-square me-2"></i> Formulario de Modificación de Directiva</h3>
    <hr>
    <br>
    
    <form method="POST" action="{% url 'editar_directiva' directivas.id %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nombreDirectiva"><i class="bi bi-person-fill text-primary me-1"></i> Nombre Completo:</label>
            <input type="text" name="nombreDirectiva" value="{{ directivas.nombre_directiva }}" class="form-control shadow-sm" id="nombreDirectiva" required>
        </div>
        
        <div class="mb-3">
            <label for="cargoDirectiva"><i class="bi bi-briefcase-fill text-secondary me-1"></i> Cargo en la Directiva:</label>
            <input type="text" name="cargoDirectiva" value="{{ directivas.cargo_directiva }}" class="form-control shadow-sm" id="cargoDirectiva" required>
        </div>
        
        <div class="mb-3">
            <label for="presupuestoDirectiva"><i class="bi bi-currency-dollar text-success me-1"></i> Presupuesto Asignado:</label>
            <input type="number" step="0.01" name="presupuestoDirectiva" value="{{ directivas.presupuesto_directiva }}" class="form-control shadow-sm" id="presupuestoDirectiva" required>
        </div>
        
        <div class="mb-3">
            <label for="numIntegrantes"><i class="bi bi-people-fill text-warning me-1"></i> Número de Integrantes:</label>
            <input type="number" name="numIntegrantes" value="{{ directivas.num_integrantes }}" class="form-control shadow-sm" id="numIntegrantes" required>
        </div>
        
        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-1"></i> Actualizar Directiva
            </button>
            <a href="{% url 'listar_directiva' %}" class="btn btn-outline-danger">
                <i class="bi bi-arrow-left-circle me-1"></i> Cancelar
            </a>
        </div>
    </form> </div>

{% include "private/footer.html" %}